* {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    margin-bottom: 3em;
    font-size: 3em;
}

#loadingcontent {
    display: flex;
    align-items: flex-start;
}

#cont {
    display: flex;
}

.loading {
    width: 25px;
    height: 25px;
    background-color: black;
    margin-right: 2px;
    border: 1px solid white;
}

#load1 {
    animation-name: load1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: #3d3a3a;
}

#load2 {
    animation-name: load2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: #686666;
}

#load3 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load3;
    background-color: white;
}

#load4 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load4;
}

#load5 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load5;
}

#load6 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load6;
}

#load7 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load7;
}

#load8 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load8;
}

#load9 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load9;
}

#load10 {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: load10;
}

@keyframes load1 {
    0% {
        background-color: #3d3a3a;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: white;
    }
    22.5% {
        background-color: #686666;
    }
    25% {
        background-color: #3d3a3a;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: white;
    }
    47.5% {
        background-color: #686666;
    }
    50% {
        background-color: #3d3a3a;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: white;
    }
    72.5% {
        background-color: #686666;
    }
    75% {
        background-color: #3d3a3a;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: white;
    }
    97.5% {
        background-color: #686666;
    }
    100% {
        background-color: #3d3a3a;
    }
}

@keyframes load2 {
    0% {
        background-color: #686666;
    }
    2.5% {
        background-color: #3d3a3a;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: white;
    }
    25% {
        background-color: #686666;
    }
    27.5% {
        background-color: #3d3a3a;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: white;
    }
    50% {
        background-color: #686666;
    }
    52.5% {
        background-color: #3d3a3a;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: white;
    }
    75% {
        background-color: #686666;
    }
    77.5% {
        background-color: #3d3a3a;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: white;
    }
    100% {
        background-color: #686666;
    }
}

@keyframes load3 {
    0% {
        background-color: white;
    }
    2.5% {
        background-color: #686666;
    }
    5% {
        background-color: #3d3a3a;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: white;
    }
    27.5% {
        background-color: #686666;
    }
    30% {
        background-color: #3d3a3a;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    52.5% {
        background-color: #686666;
    }
    55% {
        background-color: #3d3a3a;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: white;
    }
    77.5% {
        background-color: #686666;
    }
    80% {
        background-color: #3d3a3a;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

@keyframes load4 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: white;
    }
    5% {
        background-color: #686666;
    }
    7.5% {
        background-color: #3d3a3a;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: white;
    }
    30% {
        background-color: #686666;
    }
    32.5% {
        background-color: #3d3a3a;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: white;
    }
    55% {
        background-color: #686666;
    }
    57.5% {
        background-color: #3d3a3a;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: white;
    }
    80% {
        background-color: #686666;
    }
    82.5% {
        background-color: #3d3a3a;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load5 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: white;
    }
    7.5% {
        background-color: #686666;
    }
    10% {
        background-color: #3d3a3a;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: white;
    }
    32.5% {
        background-color: #686666;
    }
    35% {
        background-color: #3d3a3a;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: white;
    }
    57.5% {
        background-color: #686666;
    }
    60% {
        background-color: #3d3a3a;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: white;
    }
    82.5% {
        background-color: #686666;
    }
    85% {
        background-color: #3d3a3a;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load6 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: white;
    }
    10% {
        background-color: #686666;
    }
    12.5% {
        background-color: #3d3a3a;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: white;
    }
    35% {
        background-color: #686666;
    }
    37.5% {
        background-color: #3d3a3a;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: white;
    }
    60% {
        background-color: #686666;
    }
    62.5% {
        background-color: #3d3a3a;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: white;
    }
    85% {
        background-color: #686666;
    }
    87.5% {
        background-color: #3d3a3a;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load7 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: white;
    }
    12.5% {
        background-color: #686666;
    }
    15% {
        background-color: #3d3a3a;
    }
    17.5% {
        background-color: black;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: white;
    }
    37.5% {
        background-color: #686666;
    }
    40% {
        background-color: #3d3a3a;
    }
    42.5% {
        background-color: black;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: white;
    }
    62.5% {
        background-color: #686666;
    }
    65% {
        background-color: #3d3a3a;
    }
    67.5% {
        background-color: black;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: white;
    }
    87.5% {
        background-color: #686666;
    }
    90% {
        background-color: #3d3a3a;
    }
    92.5% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load8 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: white;
    }
    15% {
        background-color: #686666;
    }
    17.5% {
        background-color: #3d3a3a;
    }
    20% {
        background-color: black;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: white;
    }
    40% {
        background-color: #686666;
    }
    42.5% {
        background-color: #3d3a3a;
    }
    45% {
        background-color: black;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: white;
    }
    65% {
        background-color: #686666;
    }
    67.5% {
        background-color: #3d3a3a;
    }
    70% {
        background-color: black;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: white;
    }
    90% {
        background-color: #686666;
    }
    92.5% {
        background-color: #3d3a3a;
    }
    95% {
        background-color: black;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load9 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: white;
    }
    17.5% {
        background-color: #686666;
    }
    20% {
        background-color: #3d3a3a;
    }
    22.5% {
        background-color: black;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: white;
    }
    42.5% {
        background-color: #686666;
    }
    45% {
        background-color: #3d3a3a;
    }
    47.5% {
        background-color: black;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: white;
    }
    67.5% {
        background-color: #686666;
    }
    70% {
        background-color: #3d3a3a;
    }
    72.5% {
        background-color: black;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: white;
    }
    92.5% {
        background-color: #686666;
    }
    95% {
        background-color: #3d3a3a;
    }
    97.5% {
        background-color: black;
    }
    100% {
        background-color: black;
    }
}

@keyframes load10 {
    0% {
        background-color: black;
    }
    2.5% {
        background-color: black;
    }
    5% {
        background-color: black;
    }
    7.5% {
        background-color: black;
    }
    10% {
        background-color: black;
    }
    12.5% {
        background-color: black;
    }
    15% {
        background-color: black;
    }
    17.5% {
        background-color: white;
    }
    20% {
        background-color: #686666;
    }
    22.5% {
        background-color: #3d3a3a;
    }
    25% {
        background-color: black;
    }
    27.5% {
        background-color: black;
    }
    30% {
        background-color: black;
    }
    32.5% {
        background-color: black;
    }
    35% {
        background-color: black;
    }
    37.5% {
        background-color: black;
    }
    40% {
        background-color: black;
    }
    42.5% {
        background-color: white;
    }
    45% {
        background-color: #686666;
    }
    47.5% {
        background-color: #3d3a3a;
    }
    50% {
        background-color: black;
    }
    52.5% {
        background-color: black;
    }
    55% {
        background-color: black;
    }
    57.5% {
        background-color: black;
    }
    60% {
        background-color: black;
    }
    62.5% {
        background-color: black;
    }
    65% {
        background-color: black;
    }
    67.5% {
        background-color: white;
    }
    70% {
        background-color: #686666;
    }
    72.5% {
        background-color: #3d3a3a;
    }
    75% {
        background-color: black;
    }
    77.5% {
        background-color: black;
    }
    80% {
        background-color: black;
    }
    82.5% {
        background-color: black;
    }
    85% {
        background-color: black;
    }
    87.5% {
        background-color: black;
    }
    90% {
        background-color: black;
    }
    92.5% {
        background-color: white;
    }
    95% {
        background-color: #686666;
    }
    97.5% {
        background-color: #3d3a3a;
    }
    100% {
        background-color: black;
    }
}